.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.active {
  display: block !important; 
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: '⤦';
  margin-left: 10px;
}

[data-anime="accordion"] dt.active::after {
  content: '⤣';
}

[data-anime="accordion"] dd.active {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js [data-anime="scroll"].active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* ======== Modal ========== */
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.active .modal {
  animation: modal .3s forwards;
}